<html>
<head>
<meta charset="utf-8">
<title>>Изменение товара</title>
</head>
<body>
<h1 align="center">Меняем название ТМЦ:</h1>
<fieldset action="/change_tmc_result">
<form action= "/change_tmc_result" method="POST">
<legend>Товар:</legend>
<label>Наименование<input type="text" name="q1" required></label>
<br>
<label>Серий номер (если его нет - введите 0)<input type="text" name="q2" required></label>
<br>
<input type="hidden" name="old_name" value="{{ q1 }}" />
<button type= "submit"> Зарегистрировать изменённый товар! </button>
</form>
</fieldset>
<br>
<a href="/items">Вернуться к товарам</a>
<a href="/"> На главную </a>
</body>
</html>
