<html>
<head>
<meta charset="utf-8">
<title>Страница авторизации</title>
</head>
<body>
<h1 align="center">Зарегистрируйтесь на нашем сайте!</h1>
<fieldset action="/login_res">
<form action= "/login_res">
<legend>Авторизация</legend>
<label>Логин<input type="text" name="q1" required></label>
<br>
<label>Пароль<input type="password" name="q2" required></label>
<br>
<button type= "submit"> Войти </button>
</form>
</fieldset>
<span> Нет аккаунта? </span>
<br>
<a href="/reg">Зарегистрируйтесь на нашем сайте!</a>
<a href="/"> На главную </a>
</body>
</html>
