<html>
<head>
<meta charset="utf-8">
<title>Главная страница</title>
</head>
<body>
<h1 align="center"> Страница места {{ title }}</h1>
<table width="100%" border="1" cellpadding="1" cellspacing="1">
<tr>
<td>ID товара</td>
<td>Наименование</td>
<td>Количество</td>
<td>На сумму</td>
</tr>
{% for rec in data %}
<tr>
<td>{{ rec[0] }}</td>
<td>{{ rec[1] }}</td>
<td>{{ rec[4] }}</td>
<td>{{ rec[5] }}</td>
</tr>
{% endfor %}
</table>
<a href="/"> На главную </a>
<a href= "/items"> К вещам </a>
</body>
</html>

